/* #region Section About us */
@media only screen and (min-width: 1280px) {
  .about-us-section-description {
    max-width: 658px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-us-features-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .about-us-features-list {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-us-features-list {
    justify-content: center;
    grid-template-columns: 325px 325px 310px;
  }
}
.about-list-item {
  border-radius: 16px;
  background: var(--primary-bg-color, #f3f5f6);
  padding: 32px;
}

@media only screen and (min-width: 768px) {
  .about-list-item {
    border-radius: 30px;
  }
}

.about-list-item-last {
  display: block;
  width: 100%;
  min-height: 313px;
  background-color: var(--primary-accent-color);
  background-image: url(/img/about-us/memoji@1x.png);
  background-size: 255px 172px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-list-item-last {
    background-image: url(/img/about-us/memoji@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .about-list-item-last {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 243px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-list-item-last {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.about-list-item-number {
  color: var(--primary-accent-color, #4dc274);
  font-size: 28px;
  font-weight: 700;
  line-height: 114%;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
.about-list-item-description {
  color: var(--primary-text-color, #121417);
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
}
/* #endregion */
