.leave-an-application__form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

@media screen and (min-width: 1280px) {
  .leave-an-application__form {
    margin: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .leave-an-application__text {
    margin: 0 auto 64px;
    max-width: 709px;
  }
}

.leave-an-application__form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leave-an-application__input-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  margin-bottom: 20px;
}

.leave-an-application__form-input {
  display: block;
  width: 100%;
  max-width: 335px;
  padding: 15px 17px;
  border-radius: 12px;
  border: 1px solid var(--primary-line-color);
  background-color: transparent;
  outline: transparent;
  resize: none;
  line-height: 129%;
  transition: var(--timing-function);
}

.leave-an-application__form-input:focus {
  border-color: var(--primary-accent-color);
}

.leave-an-application__form-input--comment {
  height: 94px;
}

.leave-an-application__form-input::placeholder {
  font-style: normal;
  line-height: 1.28;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .leave-an-application__form-input::placeholder {
    font-size: 16px;
    line-height: 150%;
  }

  .leave-an-application__input-list {
    margin-bottom: 32px;
  }

  .leave-an-application__form-input--comment {
    height: 104px;
  }
}

@media screen and (min-width: 768px) {
  .leave-an-application__form-input {
    min-width: 500px;
    font-size: 16px;
    line-height: 150%;
  }
}

.leave-an-application__radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  border: none;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .leave-an-application__radio-group {
    flex-direction: row;
    gap: 16px;
    margin: 0px 0px 32px 0px;
  }
}

.leave-an-application__radio-group-title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .leave-an-application__radio-group-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 120%;
  }
}

@media screen and (min-width: 768px) {
  .leave-an-application__radio-btn-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.leave-an-application__radio {
  position: relative;
}

.leave-an-application__radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.leave-an-application__radio-label {
  padding-left: 28px;
  cursor: pointer;
  line-height: 171%;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .leave-an-application__radio-label {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.leave-an-application__radio-label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 1;
  transition: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .leave-an-application__radio-label::before {
    width: 20px;
    height: 20px;
  }
}

.leave-an-application__radio-label::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid var(--primary-accent-color);
  background-color: var(--primary-accent-color);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 7px;
  left: 4px;
  z-index: 2;
  transition: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .leave-an-application__radio-label::after {
    width: 12px;
    height: 12px;
  }
}

.leave-an-application__radio-input:checked
  + .leave-an-application__radio-label::before {
  border-color: var(--primary-accent-color);
}

.leave-an-application__radio-input:checked
  + .leave-an-application__radio-label::after {
  opacity: 1;
}

.leave-an-application__button {
  width: 100%;
  max-width: 335px;
  margin-bottom: 16px;
  margin: 0 auto 16px;
}

@media screen and (min-width: 768px) {
  .leave-an-application__button {
    min-width: 500px;
  }
}

.leave-an-application__form-policy {
  margin: 0 auto;
  width: 100%;
  max-width: 355px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .leave-an-application__form-policy {
    line-height: 1.71;
    max-width: 500px;
    font-size: 14px;
    line-height: 171%;
  }
}

.leave-an-application__form-policy-link {
  text-decoration-line: underline;
  text-decoration-color: var(--secondary-text-color);
}

.leave-an-application__wrapper {
  display: flex;
}

@media screen and (min-width: 1280px) {
  .leave-an-application__wrapper {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
}

.leave-an-application__card-wrapper {
  display: none;
}

@media screen and (min-width: 1280px) {
  .leave-an-application__card-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../img/leave-an-application/form-leave-1x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--primary-accent-color);
    border-radius: 30px;
    width: 492px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .leave-an-application__card-wrapper {
    background-image: url('../../img/leave-an-application/form-leave-2x.png');
    background-position: top;
  }
}

.leave-an-application__card-big-text {
  margin-bottom: 8px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary-color);
}

.leave-an-application__section-description {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 0;
}
