<section id="about-us" class="section">
  <div class="container">
    <h2 class="section-title about-us-section-title">About <span class="underline">Us</span></h2>

    <p class="section-description about-us-section-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="about-us-features">
      <ol class="about-us-features-list">
        <li class="list-item">
          <p class="list-item-number">01</p>
          <p class="list-item-description">Expert, innovative teaching staff</p>
        </li>
        <li class="list-item">
          <p class="list-item-number">02</p>
          <p class="list-item-description">Wide range of course levels and options</p>
        </li>
        <li class="list-item">
          <p class="list-item-number">03</p>
          <p class="list-item-description">Multicultural learning environment</p>
        </li>
        <li class="list-item">
          <p class="list-item-number">04</p>
          <p class="list-item-description">Comprehensive language support services</p>
        </li>
        <li class="list-item">
          <img srcset="/img/about-us/memoji@1x.png 1x, /img/about-us/memoji@2x.png 2x" src="img/about-us/memoji@1x.png"
            alt="memoji-girl-with-finger">
        </li>
      </ol>
    </div>
    <!--#region Example styles -->

    <!-- <h3 class="title">Lorem</h3> -->

    <!-- <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui possimus
      officiis adipisci voluptate perferendis eos recusandae doloremque est
      delectus maxime! Quibusdam dolores quidem illo et animi ipsam dolore velit
      quas!
    </p>

    <button class="button" type="button">Example Button</button>

    <button class="button button--with-border" type="button">
      Example Button With Border
    </button> -->
    <!--#endregion -->

  </div>
</section>