<section id="about-us" class="section">
  <div class="container">
    <h2 class="section-title">About <span class="underline">Us</span></h2>

    <p class="section-description about-us-section-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="about-us-features">
      <ol class="about-us-features-list">
        <li class="about-list-item">
          <span class="about-list-item-number">01</span>
          <p class="about-list-item-description">
            Expert, innovative teaching staff
          </p>
        </li>
        <li class="about-list-item">
          <span class="about-list-item-number">02</span>
          <p class="about-list-item-description">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-list-item">
          <span class="about-list-item-number">03</span>
          <p class="about-list-item-description">
            Multicultural learning environment
          </p>
        </li>
        <li class="about-list-item">
          <span class="about-list-item-number">04</span>
          <p class="about-list-item-description">
            Comprehensive language support services
          </p>
        </li>
        <li class="about-list-item about-list-item-last"></li>
      </ol>
    </div>
  </div>
</section>
