<footer id="contacts" class="footer">
  <div class="container">
    <div class="footer-logo-address">
      <a
        class="footer-logo-link"
        href="./index.html"
        aria-label="logo english learning site"
        >english<span class="footer-logo-accent">excellence</span>.</a
      >
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-list-item">
            <p class="footer-address-text">Phone number:</p>
            <a
              class="footer-address-link"
              href="tel:+380684439426"
              aria-label="company phone"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-address-list-item">
            <p class="footer-address-text">Address:</p>
            <a
              class="footer-address-link"
              href="https://www.google.com/maps/search/?api=1&query=50.3972184%2C30.6479943"
              target="_blank"
              aria-label="map address"
              rel="noopener noreferrer nofollow"
              >32a M. Bazhana ave</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-navigation">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-list-item">
          <a
            class="js-anchor footer-navigation-link"
            href="#about-us"
            aria-label="link to About us section"
            >About us</a
          >
        </li>
        <li class="footer-navigation-list-item">
          <a
            class="js-anchor footer-navigation-link"
            href="#our-lessons"
            aria-label="link to Our lesson section"
            >Our lessons</a
          >
        </li>
        <li class="footer-navigation-list-item">
          <a
            class="js-anchor footer-navigation-link"
            href="#our-teachers"
            aria-label="link to Teachers section"
            >Teachers</a
          >
        </li>
        <li class="footer-navigation-list-item">
          <a
            class="js-anchor footer-navigation-link"
            href="#reviews"
            aria-label="link to Reviews section"
            >Reviews</a
          >
        </li>
        <li class="footer-navigation-list-item">
          <a
            class="js-anchor footer-navigation-link"
            href="#contacts"
            aria-label="link to Contact us section"
            >Contact us</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="footer-social-list">
        <li>
          <a
            class="footer-social-link"
            href="https://www.facebook.com/goITclub/"
            aria-label="Link to Facebook"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.instagram.com/goitclub/"
            aria-label="Link to Instagram"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.youtube.com/c/GoIT"
            aria-label="Link to Youtube"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright-policies">
      <div class="footer-copyright">
        <p>&#169;2023 English Excellence. All rights reserved.</p>
      </div>
      <div class="footer-policies">
        <p>Privacy Policy</p>
        <p>Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
