<div class="form-modal is-hidden" data-form-result-modal>
  <div class="form-modal__content" data-form-result-modal-content>
    <button
      class="form-modal__close-btn"
      data-form-result-modal-close
      aria-label="Button for close mobile menu"
    >
      <svg>
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <h2 class="form-modal__title" data-form-result-modal-title></h2>
    <p data-form-result-modal-text></p>

    <button
      class="button"
      data-form-result-modal-close
    >
      Got it
    </button>
  </div>
</div>