<section id="hero" class="hero">
  <div class="container">
    <div class="hero__container hero__bg-image">
      <h1 class="hero__title">
        Discover the joy of learning
        <span class="hero__title--accent">English</span> with us!
      </h1>
      <a
        class="js-anchor link link__leave-an-application button"
        href="#leave-an-application"
        >Leave an application</a
      >
      <a class="js-anchor link hero__scroll" href="#contacts">
        <svg
          class="hero__scroll--down"
          width="20"
          height="20"
          aria-label="scroll down icon"
        >
          <use href="./img/icons.svg#arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
