<section id="leave-an-application" class="section">
  <div class="container leave-an-application__container">
    <h2 class="section-title">
      Leave an <span class="underline">application</span>
    </h2>
    <p class="section-description leave-an-application__text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="leave-an-application__wrapper">
      <div class="leave-an-application__card-wrapper">
        <p class="leave-an-application__card-big-text">1000</p>
        <p
          class="leave-an-application__section-description section-description"
        >
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>
      <form class="leave-an-application__form">
        <div class="leave-an-application__form-container">
          <ul class="leave-an-application__input-list">
            <li>
              <input
                class="leave-an-application__form-input"
                type="text"
                name="user-name"
                placeholder="Name"
                required
              />
            </li>
            <li>
              <input
                class="leave-an-application__form-input"
                type="email"
                name="user-email"
                placeholder="Email"
                required
              />
            </li>
            <li>
              <input
                class="leave-an-application__form-input"
                type="tel"
                name="user-phone"
                placeholder="Phone"
                required
              />
            </li>
            <li>
              <textarea
                class="leave-an-application__form-input leave-an-application__form-input--comment"
                name="user-comment"
                placeholder="Comment"
              ></textarea>
            </li>
          </ul>
          <fieldset class="leave-an-application__radio-group">
            <legend class="leave-an-application__radio-group-title">
              Choose a teacher
            </legend>
            <div class="leave-an-application__radio">
              <input
                class="leave-an-application__radio-input"
                type="radio"
                name="teacher"
                value="maria"
                id="radio-Maria"
                checked
              />
              <label class="leave-an-application__radio-label" for="radio-Maria"
                >Maria</label
              >
            </div>
            <div class="leave-an-application__radio">
              <input
                class="leave-an-application__radio-input"
                type="radio"
                name="teacher"
                value="artem"
                id="radio-Artem"
              />
              <label class="leave-an-application__radio-label" for="radio-Artem"
                >Artem</label
              >
            </div>
            <div class="leave-an-application__radio">
              <input
                class="leave-an-application__radio-input"
                type="radio"
                name="teacher"
                value="ilona"
                id="radio-Ilona"
              />
              <label class="leave-an-application__radio-label" for="radio-Ilona"
                >Ilona</label
              >
            </div>
            <div class="leave-an-application__radio">
              <input
                class="leave-an-application__radio-input"
                type="radio"
                name="teacher"
                value="volodymyr"
                id="radio-input"
              />
              <label class="leave-an-application__radio-label" for="radio-input"
                >Volodymyr</label
              >
            </div>
          </fieldset>
          <button
            class="leave-an-application__button button"
            type="submit"
            id="submitButton"
          >
            Send
          </button>
          <p class="leave-an-application__form-policy">
            By clicking on “Send” button, you agree to our
            <a class="leave-an-application__form-policy-link" href=""
              >Privacy Policy</a
            >,<br />
            and allow Promodo to use this information for marketing purposes.
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
