<section id="our-teachers" class="section">
  <div class="container">
    <h2 class="section-title">
      Meet our <span class="underline"> teachers </span>
    </h2>
    <p class="section-description teachers-paragraph">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-list-one">
        <div class="teachers-thumb">
          <img
            class="teachers-img"
            srcset="
              ./img/our-teachers/teacher-1.jpg    1x,
              ./img/our-teachers/teacher-1@2x.jpg 2x
            "
            src="./img/our-teachers/teacher-1.jpg"
            alt="Maria"
            loading="lazy"
          />
        </div>
        <div class="teachers-credent">
          <h3 class="title teachers-name">Maria</h3>
          <p class="teachers-one-descr description">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="teachers-list-one">
        <div class="teachers-thumb">
          <img
            class="teachers-img"
            srcset="
              ./img/our-teachers/teacher-2.jpg    1x,
              ./img/our-teachers/teacher-2@2x.jpg 2x
            "
            src="./img/our-teachers/teacher-2.jpg"
            alt="Artem"
            loading="lazy"
          />
        </div>
        <div class="teachers-credent">
          <h3 class="title teachers-name">Artem</h3>
          <p class="teachers-one-descr description">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="teachers-list-one">
        <div class="teachers-thumb">
          <img
            class="teachers-img"
            srcset="
              ./img/our-teachers/teacher-3.jpg    1x,
              ./img/our-teachers/teacher-3@2x.jpg 2x
            "
            src="./img/our-teachers/teacher-3.jpg"
            alt="Ilona"
            loading="lazy"
          />
        </div>
        <div class="teachers-credent">
          <h3 class="title teachers-name">Ilona</h3>
          <p class="teachers-one-descr description">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="teachers-list-one">
        <div class="teachers-thumb">
          <img
            class="teachers-img"
            srcset="
              ./img/our-teachers/teacher-4.jpg    1x,
              ./img/our-teachers/teacher-4@2x.jpg 2x
            "
            src="./img/our-teachers/teacher-4.jpg"
            alt="Volodymyr"
            loading="lazy"
          />
        </div>
        <div class="teachers-credent">
          <h3 class="title teachers-name">Volodymyr</h3>
          <p class="teachers-one-descr description">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
