<section id="proposal-to-leave-an-application" class="section">
  <h2 class="visually-hidden">Proposal to leave an application</h2>
  <div class="container">
    <div class="proposal-container">
      <p class="proposal-title">
        Master the <span class="text-color">Language</span>
        with Our English Package!
      </p>

      <div class="proposal-cards-container">
        <div class="proposal-card">
          <h3 class="proposal-card-title">Power of English</h3>
          <ul>
            <li class="proposal-card-item">
              <div class="proposal-icon">
                <svg class="proposal-check-icon">
                  <use href="./img/icons.svg#check"></use>
                </svg>
              </div>
              <p class="proposal-card-descr">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </p>
            </li>
            <li class="proposal-card-item">
              <div class="proposal-icon">
                <svg class="proposal-check-icon">
                  <use href="./img/icons.svg#check"></use>
                </svg>
              </div>
              <p class="proposal-card-descr">
                Learn in a nurturing setting where every student&#39;s progress
                matters.
              </p>
            </li>
            <li class="proposal-card-item">
              <div class="proposal-icon">
                <svg class="proposal-check-icon">
                  <use href="./img/icons.svg#check"></use>
                </svg>
              </div>
              <p class="proposal-card-descr">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </p>
            </li>
          </ul>
          <a
            class="js-anchor button proposal-button"
            href="#leave-an-application"
            >Leave an application</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
