<section id="reviews" class="section section-reviews">
  <div class="container cont-reviews">
    <h2 class="section-title">
      What our <span class="underline">students</span> say
    </h2>
    <p class="section-description reviews-section-description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div class="swiper reviews-slider-container">
      <ul class="reviews-divwithcards swiper-wrapper">
        <li class="swiper-slide card-reviews">
          <div class="card-reviews__student">
            <div class="thumb-reviews">
              <img
                srcset="./img/reviews/anna.jpg 1x, ./img/reviews/2x_anna.jpg 2x"
                src="./img/reviews/anna.jpg"
                alt="student"
                class="card-reviews__img"
              />
            </div>
            <div class="card-reviews__namesdiv">
              <h3 class="card-reviews__name">Anna</h3>
              <p class="card-reviews__who">Student</p>
            </div>
          </div>
          <p class="card-reviews__text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="swiper-slide card-reviews">
          <div class="card-reviews__student">
            <div class="thumb-reviews">
              <img
                srcset="
                  ./img/reviews/mykhailo.jpg    1x,
                  ./img/reviews/2x_mykhailo.jpg 2x
                "
                src="./img/reviews/mykhailo.jpg"
                alt="student"
                class="card-reviews__img"
              />
            </div>
            <div class="card-reviews__namesdiv">
              <h3 class="card-reviews__name">Mykhailo</h3>
              <p class="card-reviews__who">Student</p>
            </div>
          </div>
          <p class="card-reviews__text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="swiper-slide card-reviews">
          <div class="card-reviews__student">
            <div class="thumb-reviews">
              <img
                srcset="
                  ./img/reviews/victoria.jpg    1x,
                  ./img/reviews/2x_victoria.jpg 2x
                "
                src="./img/reviews/victoria.jpg"
                alt="student"
                class="card-reviews__img"
              />
            </div>
            <div class="card-reviews__namesdiv">
              <h3 class="card-reviews__name">Victoria</h3>
              <p class="card-reviews__who">Student</p>
            </div>
          </div>
          <p class="card-reviews__text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
